<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	 
	<Appenders>
		   
		<File name="LogFile" fileName="./DQGautomation/dqg.log" append="true">
			     
			<PatternLayout pattern="%d{d:MM:YYYY  HH:mm:ss} [%t] %-5p %c{1}:%L - %m%n" />
			   
		</File>
	</Appenders>
	 
	<Loggers>
		   
		<Root level="info">
			     
			<AppenderRef ref="LogFile" />
			   
		</Root>
		 
	</Loggers>
</Configuration>